

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>E Prodavnica</h4>
                <ul>
                    <li><a href="#">O nama</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Politika privatnosti</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Pomoć</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Isporuka</a></li>
                    <li><a href="#">Status pošiljke</a></li>
                    <li><a href="#">Opcije plaćanja</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Prodavnica</h4>
                <ul>
                    <li><a href="/proizvodi">WTL aparati za zavarivanje</a></li>
                    <li><a href="/proizvodi">ESAB aparati za zavarivanje</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Zapratite nas</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

