@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavigationBar></NavigationBar>

        <article class="content px-4">
            <!--Ovo je Blazor-ov izraz koji se koristi za prikazivanje dinamičkog sadržaja koji je unapred definisan ili generisan unutar komponente. Ovaj izraz je zamena za mesto gde će se ubaciti sadržaj unutar elementa-->
            @Body 
        </article>
    </main>
</div>
