
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Pretraži..." aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Pretraga</button>
</form>

@code {

}
