@inject NavigationManager NavManager;

<form class="searchform order-lg-last" method="post" @onsubmit="PretraziProizvod">
    <div class="form-group d-flex">
        <AntiforgeryToken></AntiforgeryToken>
        <input type="search" @bind="Filter" class="form-control pl-3" placeholder="Pretraži..." aria-label="Search">
        <button type="submit" placeholder="" class="form-control search"><span class="fa-solid fa-magnifying-glass" style="color: #fff;"></span></button>
      </div>
</form>

@code {
    public string Filter { get; set; } = string.Empty;

    void PretraziProizvod()
    {
        if (string.IsNullOrWhiteSpace(Filter) || string.IsNullOrEmpty(Filter) || Filter.Equals("")) return;
        NavManager.NavigateTo($"/proizvodi/pretraga/{Filter}", forceLoad:true);
    }
}
