@inject NavigationManager NavManager;

<form class="d-flex" method="post" @onsubmit="PretraziProizvod">
    <AntiforgeryToken></AntiforgeryToken>
    <input class="form-control me-2" @bind="Filter" type="search" placeholder="Pretraži..." aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Pretraga</button>
</form>

@code {
    public string Filter { get; set; } = string.Empty;

    void PretraziProizvod()
    {
        if (string.IsNullOrWhiteSpace(Filter) || string.IsNullOrEmpty(Filter) || Filter.Equals("")) return;
        NavManager.NavigateTo($"/proizvodi/pretraga/{Filter}", forceLoad:true);
    }
}
