@page "/"
@using Client.Pages.ProizvodPages

<PocetnaStranaKomponenta></PocetnaStranaKomponenta>
<div class="col-md-12 mt-5">
    <PreporuceniProizvodiKomponenta></PreporuceniProizvodiKomponenta>
</div>
