@page "/uspesna-narudzbina"

<div class="order-success-container">
    <h1>Uspešna narudžbina!</h1>
    <p>Vaša narudžbina je uspešno obrađena.</p>
    <a class="btn btn-primary" href="/">Nazad na početnu</a>
</div>

<style>
    .order-success-container {
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 500px;
        margin: 50px auto;
        background-color: #f9f9f9;
    }

        .order-success-container h1 {
            color: #28a745;
        }

        .order-success-container .btn {
            margin-top: 20px;
        }
</style>

@code {

   

    protected async override Task OnInitializedAsync()
    {
        var lista = await korpaService.MojeNarudzbine();
        if (lista is not null && lista.Count > 0)
            foreach (var stavka in lista)
                await korpaService.ObrisiProizvodIzKorpe(stavka);
    }
}
